*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: arial, helvetica, sans-serif;
}

header
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}
  
.text
{
  position: absolute;
  color: #000000;
  line-height: 1.5;
}

.overlay 
{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #dcdcdc;
  opacity: 0.7;
}

.button
{
  background: #fff;
  border-radius: 40px;
  color: #18266c;
  font-size: 1.5em;
  padding: .7em 1.2em;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

h1
{
  font-size: 2.5em;
}

p
{
  font-size: 1.5em;
  margin-bottom: 1em;
}
