*
{
	margin: 0;
	padding: 0;
}

.header
{
	height: 100vh;
}

.video-background
{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 16%;
	min-height: 9%;
	z-index: -1;
}


	
p.normal {
    font-weight: normal;
	padding: 4px;
	z-index: +1;
}

p.thick {
    font-weight: bold;
	padding: 4px;
	z-index: +1;
}

nav {
    font-family: ariel, helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
    padding-bottom: 20px;
	padding-top: 10px;
	z-index: +1;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
	z-index: +1;
}

nav li {
    display: inline-block;
	background-color: #4d474a;
    width: 140px;
    color: white;
	padding: 7px;
    text-decoration: underline;
    transition: .5s;
	z-index: +1;
}

nav li a {
    color: white;
	z-index: +1;
}

nav li:hover {
	background-color: #0190E5;
	width: 155px;
	z-index: +1;
}

#Content {
    width: 962px;
	min-height: 400px;
	max-height: 1080;
    background-color: #dcdcdc;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
	z-index: +1;
}

h1 {
	font-family: Comic Sans MS, cursive, sans-serif;
	text-align: center;
	z-index: +1;
}

#Logo {
	height: 100px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	z-index: +1;
}

#CL li {
	display: inline-block;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 15px;
	padding-bottom: 20px;
	z-index: +1;
}

#SportList {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-family: ariel, helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
	padding-bottom: 20px;
	padding-top: 20px;
	z-index: +1;
}

#SportList li {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
    display: block;
	background-color: #4d474a;
    width: 140px;
    color: white;
	padding: 15px;
    text-decoration: underline;
    transition: .5s;
}

#SportList Li a {
	Color: white;
}

#SportList Li:hover {
	background-color: #0190E5;
	width: 170px;
}

#Youtube {
	width: 854px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	z-index: +1;
}
